
@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="center" style="font-family:freakshow">
    Welcome 
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-4 AboutText">
            These days it is especially difficult to dabble in the occult. One may visit a local mystic only to find crystals and candles. 
            Another is forced to meet an individual of ill repute to purchase a particular tome of forbidden knowledge, only to be stabbed in the 
            back by the scoundrel! In these trying times fear not! Madame Angelique’s Occult and Esoteric Emporium is an online e-commerce site 
            for the seekers of the arcane unknown.  Whether you are a member of the of a Hermetic Order communing with an Old One or a grave 
            digger with an extracurricular activity that is best performed by moonlight, Madame Angelique’s Occult and Esoteric Emporium has you
            covered. We also carry a fine assortment of lamps and other décor to make your séance room feel cozy. 
        </div>

    </div>


</div>
<div class="container clearfix">
    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-left AboutImg" src="~/img/madame.jpg" />
                <div class="freakshowText"><h3>Madame Angelique</h3></div>
                <p>Madame Angelique the owner and manager of the Occult and Esoteric Emporium.</p>

            </div>
        </div>
    </div>

</div>
<div class="container clearfix">
    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-right AboutImg" src="~/img/Sergi.jpg" />
                <div class="freakshowText"><h3>Sergi Acora Tokare</h3></div>
                <p>
                    Sergi is a world renowned astrologist. He has preformed readings for various royals including George V,Haakon VII,
                    and Fredrick VII. Sergi's horoscopes are incredibly accurate. He was trained in astrology by Grigori Rasputin's student Dimitri Kosvlano.
                    Sergi is also an expert on other mystic arts such as prime alchemy, astral projection, and planar travel.
                </p>

            </div>
        </div>
    </div>

</div>
<div class="container clearfix">
    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-left AboutImg" src="~/img/BarnabasBasil.jpg" />
                <div class="freakshowText"><h3>Sir Barnabas-Basil Cromwell III</h3></div>
                <p>
                    Sir Barnabas-Basil was the youngest son of a minor and down-on-its-luck nobel house. In hopes of imporiving their standing and saving
                    their famlies holding Barnabas-Basil's father joined numerous expeditions to find treasured artifacts in the Middle East, South America, and Asia.
                    After showing intrest in his fathers work, Barnabas-Basil began to accompany his father on these expeditions. He now works as our head buyer and antiquarian.
                </p>

            </div>
        </div>
    </div>

</div>
<div class="container clearfix">
    <div class="block">
        <div class="row">
            <div class="span4">
                <img class="img-right AboutImg" src="~/img/Will.jpg" />
                <div class="freakshowText"><h3>Will Schultz</h3></div>
                <p>Will Schultz was summed from beyond in a Soviet Labratory. The scientist belived they were bringing forth a Old One to spread
                ruin and misery on eath. Unfortunalty for them, they accidently brought conjured a minor New One that spread misery by forgetting what he was doing
                and not paying attention to conversations. He also seeed well versed in bad jokes. In frustrations the scientist locked him in a mental asylum where he stayed for an unknown time.
                On a trip to an auction house in Hong Kong, Sir Barnabas-Basil purchased Will for a small price. Will has proven to be an okay coder and has worked as our webmaster and 
                primary developer.
                </p>

            </div>
        </div>
    </div>

</div>


