
@{
    ViewData["Title"] = "Browse";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<div class="searchBar">
    <form class="searchBar" method="post">
        @*<label for="search"> </label>*@
        <input for="searchText" name="searchText" placeholder="Search"/>
        <button class="btn" value="search"name="command"type="submit">Go</button>
    </form>
</div>

<div class="grid">
    <article class="card product-item">
        <a asp-controller="Product" asp-action="Products" asp-route-tag="Home">
            <header class="card__header brown">
                <h1 class="product__title center freakshowText">
                    Home
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
        </a>
    </article>

    <article class="card product-item">
        <a asp-controller="Product" asp-action="Products" asp-route-tag="Books">
            
            <header class="card__header brown">
                <h1 class="product__title center freakshowText">
                    Books
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>

        </a>
    </article>

    <article class="card product-item">
        <a asp-controller="Product" asp-action="Products" asp-route-tag="Decor">
            <header class="card__header brown">
                <h1 class="product__title center freakshowText">
                    Decor
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>

        </a>
    </article>

</div>

<div class="grid">
<article class="card product-item">
    <a asp-controller="Product" asp-action="Products" asp-route-tag="Trinkets">
        <header class="card__header brown">
            <h1 class="product__title center freakshowText">
                Trinkets
            </h1>
        </header>
        <div class="card__image center">
            <img src="http://placekitten.com/200/300" class="" />
        </div>
    </a>
</article>

<article class="card product-item">
    <a asp-controller="Product" asp-action="Products" asp-route-tag="Clothing">
        <header class="card__header brown">
            <h1 class="product__title center freakshowText">
                Clothing
            </h1>
        </header>
        <div class="card__image center">
            <img src="http://placekitten.com/200/300" class="" />
        </div>

    </a>
</article>


</div>

