@model List<Product>
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_Header.cshtml";
}



@if (Model != null)
{
    <div class="grid">
        @foreach (Midterm.Models.Product p in Model)
        {

            <article class="card product-item">
                <a asp-action="ProductDetails" asp-route-id="@p.ProductId">
                    <div class="card__image center">
                        <img src="@p.imgPath" class="" />
                    </div>
                    <div class="card__content">
                        <p class="product__description freakshowText">
                            @p.Title
                        </p>
                        <p class="product__description">
                            $@p.Price
                        </p>


                    </div>
                </a>
            </article>

        }
    </div>
}
else
{
    <h1>There are no Products</h1>
}



@*<div class="grid">
        <article class="card product-item">
            <a asp-action="ProductDetails">
                <div class="card__image center">
                    <img src="http://placekitten.com/200/300" class="" />
                </div>
                <div class="card__content">
                    <p class="product__description">
                        Title:
                    </p>
                    <p class="product__description">
                        Price:
                    </p>


                </div>
            </a>
        </article>
    </div>*@
