
@{
    ViewData["Title"] = "PurchaseConfirm";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>You have made a smart acqusition!</h1>
Would you like to <a asp-action="Browse"> continue shopping </a>  or <a asp-controller="User" asp-action="ChecOut">checkout?</a> 

