
@{
    ViewData["Title"] = "PurchaseConfirm";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1 class="text">Thank you patron!</h1>

<div class="grid">
    <article class="card product-item">
        <a asp-controller="Product" asp-action="browse">
            <header class="card__header">
                <h1 class="product__title center freakshowText">
                    Keep Shopping
                </h1>
            </header>
            <div class="card__image center">
                <img src="http://placekitten.com/200/300" class="" />
            </div>
        </a>
    </article>
 
        <article class="card product-item">
            <a asp-controller="User" asp-action="Checkout">
                <header class="card__header">
                    <h1 class="product__title center freakshowText">
                        Checkout
                    </h1>
                </header>
                <div class="card__image center">
                    <img src="http://placekitten.com/200/300" class="" />
                </div>
            </a>
        </article>
    </div>
