@model List<CartItem>
@{
    ViewData["Title"] = "Cart";
    Layout = "~/Views/Shared/_Header.cshtml";
    
}
<form>
    <button class="btn">Checkout</button>
    <input type="hidden" value="s"/>
</form>


<div class="">
    @foreach (Midterm.Models.CartItem i in Model)
    {
        <div class="">
            <div class="prod-layout">
                <img src="@i.imagepath" class="" />
            </div>
            <div class="prod-layout">
                <p>@i.CartProd.Title</p>
                <p>@i.CartProd.Price</p>
                <p>Quantity: @i.Quantity</p>
            </div>
        </div>

    }
</div>



@*<@*div class="">
    <div class="">
        <div class="prod-layout">
            <img src="http://placekitten.com/100/200" class="" />
        </div>
        <div class="prod-layout">
            <p>Title</p>
            <p>Price</p>
        </div>
    </div>*@



