
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>CheckoutView</h1>
<h1>Ready to Checkout?</h1>

<div>
    <div>
        <p>Title</p>
        <p>Price</p>

    </div>
  
    <div>
        Total:
    </div>
    <div>
        <button class="btn">Confirm!</button>
    </div>
   

</div>
