
@{
    ViewData["Title"] = "horoscope";
    Layout = "~/Views/Shared/_Header.cshtml";
}

<h1>horoscope</h1>



<form typeof="post" asp-route-sign="virgo">
    
    <button class="btn" type="submit">GO</button>
   
</form>