
@{
    ViewData["Title"] = "User";
    Layout = "~/Views/Shared/_Header.cshtml";
}



<h1>Hello User!</h1>
<div>
    <div>
        Address:
    </div>
    <div>
        Phone:
    </div>
    <div>
        Email
    </div>
    <div>
        CHange pW?
    </div>
</div>
Past orders?
